/*font-family: 'Cutive Mono', monospace;
font-family: 'Hubballi', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Leckerli One', cursive;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Philosopher', sans-serif;*/

:root {
  --border-radius: 9px;
  --primary-color: #e7eaf6;
}

a {
  color: rgb(0, 0, 0, 0.5);
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color: black;
}

body {
  background: var(--primary-color);
  font-family: "Josefin Slab", serif;
}

footer {
  margin: 50px 0;
}

footer a {
  font-size: 14px;
}

h1 {
  color: black;
  font-size: 64px;
  margin: 30px 0 60px;
  text-align: center;
}

h5 {
  margin-bottom: 0;
}

li {
  list-style: none;
}

p {
  font-size: 18px;
}

.about-image {
  max-width: 100%;
}

.container {
  max-width: 1200px;
}

.homepage-hero {
  margin-top: 200px;
}

.homepage-links-container {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  margin: 100px auto;
  margin-top: 0;
  max-width: 600px;
  padding-left: 0;
  text-align: center;
}

.headline-home {
  font-size: 96px;
  margin: 0;
}

.project-image {
  display: block;
  margin: 0 auto;
}

.project-row {
  display: flex;
  justify-content: center;
}

.row {
  --bs-gutter-x: 0;
}

.fa-brands {
  font-size: 22px;
  padding: 0 5px;
}

.social-media-icons {
display: flex;
justify-content: center;
margin-top: 30px;
}

.tile-caption {
  text-align: center;
}

@media (max-width: 576px) {
  footer {
    margin: 20px 0;
  }

  p {
    text-align: center;
  }

  .headline-home {
    font-size: 74px;
  }

  .homepage-links-container {
    flex-direction: column;
  }

  .homepage-links-container li {
    padding: 10px;
  }
}
