/*font-family: 'Cutive Mono', monospace;
font-family: 'Hubballi', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Leckerli One', cursive;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Philosopher', sans-serif;*/

:root {
  --border-radius: 9px;
  --primary-color: #e7eaf6;
}

a {
  color: rgb(0, 0, 0, 0.5);
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color: black;
}

body {
  background: var(--primary-color);
  font-family: "Josefin Slab", serif;
  padding-top: 50px;
}

h1 {
  color: black;
  margin: 0 0 20px 0;
  text-align: center;
}

h2 {
  color: black;
  font-size: 52px;
  margin: 0 0 20px 0;
  padding-top: 100px;
  text-align: center;
}

h3 {
  font-size: 28px;
  text-align: left;
}

li {
  list-style: none;
}

nav {
  background-color: var(--primary-color);;
}

p {
  font-size: 18px;
}

ul {
  color: #8c8d95;
  padding: 0;
  text-align: left;
}

.about-image {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-height: 400px;
}

.contact-links {
  display: flex;
  justify-content: center;
  margin: 30px 0 450px 0;
}

.container {
  max-width: 1200px;
}

.email-address {
  display: block;
  font-size: 26px;
  margin: 30px 0;
}

.homepage-hero {
  margin: 250px auto;
}

.homepage-links-container {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  margin: 100px auto;
  margin-top: 0;
  max-width: 600px;
  padding-left: 0;
  text-align: center;
}

.headline-home {
  font-size: 96px;
  margin: 0;
}

.project-description {
  position: absolute;
  top: 30%;
}

.project-image {
  border-radius: 10px;
  width: 100%;
}

.project-col {
  padding: 20px;
}

.project-description-container {
  position: relative;
}

.row {
  --bs-gutter-x: 0;
}

.footer-icon {
  font-size: 40px;
  padding: 0 20px;
}

/* .work-container {
  background-color: green;
} */

@media (max-width: 576px) {
  .headline-home {
    font-size: 74px;
  }

  .homepage-links-container {
    flex-direction: column;
  }

  .homepage-links-container li {
    padding: 10px;
  }

  .project-image {
    margin-bottom: 0;
    margin-top: 0;
  }
}
